<ion-content>
  <div class="wrapper fade-in" *ngIf="!isSentOpt">
    <h4 class="header-title">Validate Number</h4>
    <p class="detail-txt">Please Enter your mobile number.</p>

    <form #f="ngForm" [formGroup]="phoneForm">
      <div class="">
        <ngx-intl-tel-input
          [cssClass]="'custom'"
          [preferredCountries]="preferredCountries"
          [enableAutoCountrySelect]="true"
          [enablePlaceholder]="true"
          [searchCountryFlag]="true"
          [searchCountryField]="[
            SearchCountryField.Iso2,
            SearchCountryField.Name
          ]"
          [selectFirstCountry]="false"
          [selectedCountryISO]="CountryISO.UnitedStates"
          [maxLength]="15"
          [phoneValidation]="true"
          [separateDialCode]="separateDialCode"
          [numberFormat]="PhoneNumberFormat.National"
          name="phone"
          formControlName="phone"
          style="border: none !important"
        >
        </ngx-intl-tel-input>
      </div>
      <!-- <div class="agreement">
        <div>
          <input type="checkbox" (change)="AgreementCheck($event)" />
        </div>
        <div>
          <label class="agreementTitle"
            >I agree to VisitChecklist
            <a (click)="openModel('Terms Of Use',0)" class="linkToAgreement"
              >Terms Of Use, </a
            ><a
              (click)="openModel('Informed Consent',1)"
              class="linkToAgreement"
            >
              Informed Consent</a
            ><a (click)="openModel('Privacy Policy',2)" class="linkToAgreement">
              & Privacy Policy</a
            ></label
          >
        </div>
      </div> -->
      <div class="agreement">
        <div>
          <input type="checkbox" (change)="AgreementCheck($event)" />
        </div>
        <div>
          <label class="agreementTitle"
            >I agree to VisitChecklist
            <a (click)="openModel('Terms Of Use',0)" class="linkToAgreement"
              >Terms Of Use, </a
            ><a
              (click)="openModel('Informed Consent',1)"
              class="linkToAgreement"
            >
              Informed Consent</a
            ><a (click)="openModel('Privacy Policy',2)" class="linkToAgreement">
              & Privacy Policy</a
            ></label
          >
        </div>
      </div>
      <button (click)="SendOTP()" [disabled]="(!f.form.valid || btnDisabled)">
        Send
      </button>
      <!-- 
      <div>
        <strong>Is input valid:</strong>
        <pre>{{ !f.form.controls['phone'].invalid }}</pre>
      </div>
      <div>
        <strong>Is input touched:</strong>
        <pre>{{ f.form.controls['phone'].touched }}</pre>
      </div>
      <div>
        <strong>Is form valid:</strong>
        <pre>{{ f.form.valid }}</pre>
      </div>
      <div>
        <strong>Form value:</strong>
        <pre>{{ f.form.value | json }}</pre>
      </div>
      <div>
        <strong>Form validation errors:</strong>
        <pre>{{ f.form.controls['phone'].errors | json }}</pre>
      </div> -->
      <!-- <div class="">
        <button (click)="f.reset()">Reset</button>
      </div> -->
    </form>
  </div>
  <div class="wrapper fade-in" *ngIf="isSentOpt">
    <h4 class="header-title">Validate Number</h4>
    <p class="detail-txt">
      Please enter the OTP code that we are sent to your mobile
      ({{selectedNumber}}).
    </p>
    <ngx-otp-input
      #ngxOtpInput
      *ngIf="showNgxOtpInput"
      [options]="otpOptions"
      [disabled]="disabled"
      (otpComplete)="onOtpComplete($event)"
      (otpChange)="onOtpChange($event)"
    ></ngx-otp-input>
  </div>
</ion-content>
